@font-face {
  font-family: "SilverChristmas";
  src: url("fonts/SilverChristmas.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: monospace;
  background: linear-gradient(
    45deg,
    #ff0000,
    #f1bbbb,
    #186e18,
    #9ed6ac,
    #ff0000
  );
  background-size: 300% 300%;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: calc(100% + 5vmin);
  margin: 0;
}

div:has(h1) {
  text-align: center;
  font-family: "SilverChristmas";
  transform: rotate(-15deg);
  h1 {
    font-weight: normal;
    margin-block-end: 0;
  }
  p {
    margin-block-start: 0;
  }
}

.tree {
  display: grid;
  text-align: center;
  line-height: 1.2;
}
.tree span {
  --delay: 0;
  color: #46dc2c;
  display: inline-block;
  animation: blink 5s infinite;
  animation-delay: calc(var(--delay) * 1s);
}
.tree span:nth-child(2n) {
  color: #ff6347;
}
.tree span:nth-child(3n) {
  color: #ffd700;
}
.tree span:nth-last-child(-n + 1) {
  animation: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
